{% extends 'base.html' %}
{% block title %}Add Subject{% endblock %}
{% block content %}
<div class="max-w-md mx-auto bg-white rounded-lg shadow p-6">
    <h2 class="text-xl font-semibold mb-4">Add Subject</h2>
    <form method="POST">
        <label class="block text-sm font-medium text-slate-700">Subject Name</label>
        <input name="name" class="w-full mt-1 mb-4 p-2 border rounded-md" required />


        <button class="w-full bg-purple-600 text-white py-2 rounded-md">Add Subject</button>
    </form>
</div>
{% endblock %}